#################################################
# ========== 通用 ==========
#################################################

# 日志
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 操作系统
.DS_Store
Thumbs.db

# 环境变量
.env
.env.*

#################################################
# ========== .NET ==========
#################################################

# 构建目录
bin/
obj/

# 发布
publish/
*.publish/

# 用户文件
*.user
*.suo

# Visual Studio
.vs/
*.rsuser

# Rider
.idea/

# NuGet
*.nupkg
packages/

#################################################
# ========== UniApp / Vue ==========
#################################################

# 依赖
node_modules/

# 打包产物
dist/
unpackage/

# HBuilderX
.hbuilderx/

# vite
.vite/

#################################################
# ========== 其他 ==========
#################################################

# 临时文件
*.tmp
*.cache

# DLL 不提交
*.dll
*.exe